<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let menu"> {{menu.name}} </mat-cell>
    </ng-container>

    <!-- Calories Column -->
    <ng-container matColumnDef="calories">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>  Cal </mat-header-cell>
      <mat-cell *matCellDef="let menu"> {{menu.calories}} </mat-cell>
    </ng-container>

    <!-- CaloriesFromFat Column -->
    <ng-container matColumnDef="caloriesFromFat">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>  Cal from Fat </mat-header-cell>
      <mat-cell *matCellDef="let menu"> {{menu.caloriesFromFat}} </mat-cell>
    </ng-container>

    <!-- Protein Column -->
    <ng-container matColumnDef="protein">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pro </mat-header-cell>
      <mat-cell *matCellDef="let menu"> {{menu.protein}} </mat-cell>
    </ng-container>

    <!-- Fat Column -->
    <ng-container matColumnDef="fat">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fat </mat-header-cell>
      <mat-cell *matCellDef="let menu"> {{menu.totalFat}} </mat-cell>
    </ng-container>

    <!-- SaturatedFat Column -->
    <ng-container matColumnDef="saturatedFat">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Saturated Fat </mat-header-cell>
      <mat-cell *matCellDef="let menu"> {{menu.saturatedFat}} </mat-cell>
    </ng-container>

    <!-- TransFat Column -->
    <ng-container matColumnDef="transFat">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Trans Fat </mat-header-cell>
      <mat-cell *matCellDef="let menu"> {{menu.transFat}} </mat-cell>
    </ng-container>

    <!-- Carbs Column -->
    <ng-container matColumnDef="carbs">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Carbs </mat-header-cell>
      <mat-cell *matCellDef="let menu"> {{menu.carbs}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>


