<mat-grid-list cols="{{numOfColums}}" rowHeight="2:1">

  <mat-grid-tile ><nav><a routerLink="/resturant/1"><img src="assets/images/mcdonalds.png"></a></nav></mat-grid-tile>
  <mat-grid-tile ><nav><a routerLink="/resturant/2"><img src="assets/images/burgerking.png"></a></nav></mat-grid-tile>
  <mat-grid-tile ><nav><a routerLink="/resturant/4"><img src="assets/images/kfc.png"></a></nav></mat-grid-tile>
  <mat-grid-tile ><nav><a routerLink="/resturant/3"><img src="assets/images/subway.png"></a></nav></mat-grid-tile>
  
  <mat-grid-tile ><nav><a routerLink="/resturant/1"><img src="assets/images/fiveguys.png"></a></nav></mat-grid-tile>
  <mat-grid-tile ><nav><a routerLink="/resturant/2"><img src="assets/images/starbucks.png"></a></nav></mat-grid-tile>
  <mat-grid-tile ><nav><a routerLink="/resturant/4"><img src="assets/images/chopped.png"></a></nav></mat-grid-tile>
  <mat-grid-tile ><nav><a routerLink="/resturant/3"><img src="assets/images/supermacs.png"></a></nav></mat-grid-tile>

  <mat-grid-tile ><nav><a routerLink="/resturant/4"><img src="assets/images/dominos.png"></a></nav></mat-grid-tile>
  <mat-grid-tile ><nav><a routerLink="/resturant/1"><img src="assets/images/eddierockets.png"></a></nav></mat-grid-tile>
  <mat-grid-tile ><nav><a routerLink="/resturant/2"><img src="assets/images/abrakebara.png"></a></nav></mat-grid-tile>
  <mat-grid-tile ><nav><a routerLink="/resturant/3"><img src="assets/images/apache.png"></a></nav></mat-grid-tile>

</mat-grid-list>
